on:
  push:
    branches: [master]

jobs:
  build-and-commit:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
    permissions:
      contents: write
    steps:
      - name: Checkout net-snmp
        uses: actions/checkout@v4
        with:
          repository: TapLane/net-snmp
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
          
      - name: Install Alpine Build Tools
        run: |
          apk update
          apk add --no-cache \
            build-base \
            perl \
            perl-dev \
            py3-setuptools \
            openssh \
            openssl-dev \
            libffi-dev \
            nmap \
            nmap-scripts \
            wget \
            libc-utils \
            autoconf \
            automake \
            python3-dev \
            linux-headers \
            git

      - name: Configure net-snmp with Python modules support
        run: ./configure --with-defaults --with-python-modules --libdir=/usr/lib --enable-shared --enable-blumenthal-aes

      - name: Build and Install to local folder
        run: |
          make -j$(nproc)
          make DESTDIR=$(pwd)/.dist install

      - name: Commit and push .dist
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .dist/
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "chore([skip ci]): Build and commit .dist artifacts"
            git push
          fi